<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="static/js/jsmpeg.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/vue.min.js"></script>
    <script src="static/js/vuex.min.js"></script>
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="static/css/profile.css">
    <link rel="stylesheet" href="static/css/raleway.css">


    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>





    <!--<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->
</head>
<body>
<div class="container-fluid">

    <div id="app">
        <!-- Top -->
        {% block navigation %}
        {% include "navigation.html" %}

        {% endblock %}

        {% block body %}
        <!-- Body-->
        <div class="row" v-if="current_page='/'">
            <div class="columns ">
                {% include "cameras_init.html" %}
            </div>

        </div>
        {% endblock %}

        {% block sidebar %}
        <!--Sidebar-->
        <div class="row ">
            <div class="columns"></div>
        </div>
        {% endblock %}
    </div>
</div>

<!-- App initializing  -->
<script src="static/js/app.js"></script>

<!-- Postinit-->

<!-- Iterate for each enables camsources and init its canvas and JSMPEG -->

</body>
</html>