<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="static/js/jsmpeg.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/vue.min.js"></script>
    <script src="static/js/vuex.min.js"></script>

    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="static/css/profile.css">
    <link rel="stylesheet" href="static/css/raleway.css">
    <link rel="stylesheet" href="static/css/shifting.css">


    <!-- JavaScript -->
    <script src="static/js/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="static/css/default.min.css"/>


</head>
<body>
<div class="container">

    <div id="app">
        <!-- Top -->
        {% block navigation %}

        {% include "navigation.html" %}
        {% endblock %}

        {% block body %}
        <!-- Body-->
        {% include "cameras_init.html" %}
        {% endblock %}

        {% block sidebar %}
        <!--Sidebar-->
        <div class="row ">
            <div class="columns"></div>
        </div>
        {% endblock %}
    </div>
</div>

<script src="static/js/app.js"></script>

</body>
</html>