<div class="row top navbar">
            <div class="four columns ">
                <a href="/" class="nav hero-heading">OpenNVR</a>
            </div>
            <div class="three columns greeting">
                <span href="#" class="nav">Hello, [[user.email ]] !</span>
            </div>
            <div class="two columns offset-by-one">
				{% if current_user.has_role('admin') %}
                	<a href="/settings" class="nav" >Settings</a>
				{% endif %}
            </div>
            <div class="two columns">
				{% if current_user.is_anonymous %}
					<a href="login" class="nav">Sign In</a>
				{% else %}
					<a href="logout" class="nav">Sign Out</a>
				{% endif %}
            </div>
        </div>