{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="three columns ">
        <ul class="menu">
            <li>
                <a v-on:click="show.main = !show.main" href="#main">Settings</a>
                <transition name="fade">
                    <ul v-if="show.main">
                        <li><a href="#videosize" v-on:click="seen='videosize'">Video size</a></li>
                        <li><a href="#reinitilize" v-on:click="seen='backup'">Record mode</a></li>
                        <li><a class="warning" href="#reinitilize" v-on:click="reinitialize()">Search for new sources</a></li>
                    </ul>
                </transition>
            </li>

            <li>
                <a v-on:click="show.services=!show.services" href="#news">Services</a>
                <transition name="fade">
                    <ul v-if="show.services">
                        <li v-for="service in services">
                            <a href="#ssh" v-on:click="seen=service.name">[[service.name]]</a>
                        </li>
                    </ul>
                </transition>
            </li>

            <li>
                <a href="#users" v-on:click="show.users= !show.users">Users</a>
                <transition name="fade">
                    <ul v-if="show.users">
                        <li><a href="#me" v-on:click="seen='my'">My profile</a></li>
                        <li><a href="#users" v-on:click="seen='all_users'">All users</a></li>
                    </ul>
                </transition>
            </li>
        </ul>
    </div>
    <div class="nine columns settings">
        <template v-if="seen=='videosize'">
            {% include "video_size.html" %}
        </template>

        <template v-if="seen=='backup'">
            {% include "backup.html" %}
        </template>

        <template v-if="seen=='reinitialize'">

        </template>

        <template v-for="service in services" v-if="seen==service.name">
            {% include "services.html" %}
        </template>


        <template v-if="seen=='my'">
            <div class="container">
                <div class="row">
                    <div class="four columns">
                        <h4> You are logged as: </h4>
                        <h2>[[user.email]]</h2>
                    </div>

                    <div class="four columns offset-by-four">
                        <h4>Your roles are:</h4>
                        <div class="role" v-for="role in user.roles">[[ role ]]</div>
                    </div>
                </div>
                <div class="row">
                    <h4>Update your password:</h4>
                    <form method="post" action="/users/pwd_change">
                        <div class="four columns">
                            <label for="check">Old password</label>
                            <input name="check" type="password">
                        </div>
                        <div class="four columns">
                            <label for="password">New password</label>
                            <input  name="password" type="password">
                        </div>
                        <div class="four columns">
                            <input type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </template>


        <template v-if="seen=='all_users'">
            <div class="container">
                <div class="row">
                    <table class="u-full-width">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Enabled</th>
                            <th>Roles</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <transition name="fade">
                            <tr v-for="user in users">
                                <td>[[user.id]]</td>
                                <td>[[user.email]]</td>
                                <td>
                                    [[user.is_enabled]]
                                </td>
                                <td><span v-for="role in user.roles">
                                        <label>
                                            [[ role ]]
                                        </label>
                                    </span></td>
                                <td>
                                    <button v-on:click="delUser(user)">Delete</button>
                                    <button v-on:click="changeState(user)">
                                        <span v-if="user.is_enabled">Disable</span>
                                        <span v-if="!user.is_enabled">Enable</span>
                                    </button>
                                </td>
                            </tr>
                        </transition>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <form>
                        <div class="one-third column">
                            <label for="email">New user name</label>
                            <input type="text" id="email">
                        </div>
                        <div class="one-third column">
                            <label for="password">New user password</label>
                            <input type="password" id="password">
                        </div>
                        <div class="one-third column">
                            <button v-on:click="addUser()">Add user</button>
                        </div>
                    </form>
                </div>
            </div>
        </template>
    </div>
</div>


{% endblock %}