<div class="container">
    <h4>Video size:</h4>
    <div class="row">
        <div class="two columns"><span>Choose video width:</span></div>
        <div class="ten columns">
            <select v-model="width">
                <option>240</option>
                <option>320</option>
                <option>500</option>
                <option>800</option>
                <option>1024</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="two columns">
            <span>Choose video height:</span>
        </div>
        <div class="ten columns">
            <select v-model="height">
                <option>240</option>
                <option>320</option>
                <option>500</option>
                <option>480</option>
                <option>768</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="two column offset-by-ten">
            <button v-on:click="updateConfig()">Update</button>
        </div>
    </div>
</div>